/* ==========================
       IMPORT FONTS
========================== */
@import url('https://fonts.googleapis.com/css?family=Nunito|Handlee|Shadows+Into+Light');
/* font-family: 'Nunito'; */
/* font-family: 'Handlee', cursive; */
/* font-family: 'Shadows Into Light', cursive; */

/* ==========================
       GENERAL
========================== */
body {
    background-image: url("https://i.pinimg.com/originals/b3/06/03/b306033ac297f52886eb534cc848b487.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito';
    color: #333;
    width:100%; height:100%;
}

/* ==========================
       CONTAINERS
========================== */
.container {
    width: 25em;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #e8c7e3;
    text-align: center;
}

/* ==========================
       HEADER/ title
========================== */
.mainTitle {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 46px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0.2em;
}
.left {
    text-align: left;
}
.cursor {
    cursor: pointer;
}

/* ==========================
       FORM
========================== */
.modal {
    width: 420px;
    margin: auto;
    background-color: #e8c7e3;
    padding: 0.1em 0em 0.5em 1em;
}
form {
    margin-bottom: 10px;
    width: 340px;
}
.modal-content {
    width: 310px;
    /* background-color: pink; */
    padding-left: 30px;
}
body > div.fade.modal.show > div {
    width:390px;
    padding: 0px;
    /* background-color: lightgreen; */
}
.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    /* background-color: yellow; */
    width: 310px;
}
.viewer {
    color: #c4037a;
}
.viewer:hover {
    text-transform: uppercase;
}
.values {
    color: #a80067;
}
.bold {
    font-weight: 800;
}
span.bold {
    width: 80px;
    float: left;
}
/* span.current.bold {
    width: auto;
} */
ul > li {
    font-family: 'Handlee', cursive;
}
input[type="text"] {
    width: 92%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
}
input[type="text"]:focus {
    outline: 1;
    border: 1px solid #888;
}
.add-button {
    width: 25%;
    padding: 0.5em;
    box-sizing: border-box;
    background: lightgreen;
    border: 1px solid #888;
    border-radius: 0.5em;
    color: black;
    font-size: 0.8em;
}
.add-button:hover {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid purple;
}
.add-button:active {
    border: 1px dashed grey;
}
.submit-button {
    width: 25%;
    padding: 0.5em;
    box-sizing: border-box;
    background: dodgerblue;
    border: 1px solid #888;
    border-radius: 0.5em;
    color: white;
    font-size: 0.8em;
}
.submit-button:hover {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid purple;
}
.submit-button:active {
    border: 1px dashed grey;
}
.cancel-button {
    width: 25%;
    padding: 0.5em;
    box-sizing: border-box;
    background: orange;
    border: 1px solid #888;
    border-radius: 0.5em;
    color: white;
    font-size: 0.8em;
}
.cancel-button:hover {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid purple;
}
.cancel-button:active {
    border: 1px dashed grey;
}
.thumb {
    height: 220px;
    width: 220px;
    margin-bottom: 0.5em;
}
.center {
    text-align: center;
}
.purple {
    color: #871F78;
}
.album-list {
    height: 660px;
    width: 440px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
}
.bot-bord {
    padding: 10px;
    border-bottom: 2px solid purple;
}
.albums {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid purple;
    font-family: serif;
    font-size: 16px;
    letter-spacing: .5px;
}
.delete:hover {
    color: red;
}
.edit:hover {
    color:blue;
}
.no-bullet {
    list-style-type: none;
}
.current {
    color: blue;
    text-transform: uppercase;
}
